@import "../../styles/breakpoints";
@import "../../styles/layout";
@import "../../styles/colors";

a {
  color: inherit;
}

.navbar {
  width: 100vw;
  margin-top: 10px;
}

.wrapper {
  width: $container;
}

.nav-burger-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.inline-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: $screen-sm-min) {
  li {
    cursor: pointer;
  }

  li:hover {
    color: rgb(28, 28, 231);
  }

  .hamburger {
    cursor: pointer;
    float: left;
    margin-top: 15px;
    z-index: 1;
  }

  .line {
    width: 25px;
    height: 4px;
    background: $primaryColor;
    margin: 5px 0;
  }

  .inline-nav {
    all: unset;
    float: right;
    margin-top: 20px;
  }

  .nav-burger-list {
    flex-direction: column;
    background: $primaryColor;
    color: white;
    width: 80px;
    height: auto;
    text-align: left;
    z-index: 1;
    padding: 0 5px;
  }

  nav ul {
    position: absolute;
    left: 15px;
    margin-top: 45px;
  }
}
