<nav class="toggled-navbar">
  <div class="hamburger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <!-- <a class="navbar-brand" href="#">LOGO</a> -->
  <ul class="inline-nav" *ngIf="!isPhoneSize || isBurgerOpen">
    <span class="nav-burger-list pt-2">
      <li *ngFor="let page of PAGES; let i = index">
        <span *ngIf="i < 4">
          <a [routerLink]="['/', page.name]">{{ page.name | titlecase }}</a>
        </span>
        <span class="px-3 ml3" *ngIf="i < 3 && !isPhoneSize">|</span>
      </li>
    </span>
    <span class="nav-burger-list padding-top">
      <li *ngIf="!isPhoneSize" class="mr-3 search">
        <app-search [isMixedColors]="isMixedColors"></app-search>
      </li>
      <li [ngClass]="isMixedColors ? 'white-text' : 'black-text'">
        <a routerLink="/contact">Contact</a>
      </li>
    </span>
  </ul>
</nav>
