@import '../../../styles/breakpoints';

.wrapper {
  width: auto;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 70px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 5px;

}

.image {
  width: 400px;
  // height: 500px;
  text-align: center;
  margin: 10px auto;
  // margin-right: 13%;
}

.info {
  max-width: 50%;
  width: auto;
  padding: 0 5%;
  color: white;
}

.hr-separator {
  background-color: #503b34;
}

.details {
  margin-top: 45px;
}

.price {
  text-align: center;
  font-size: 40px;
  margin: 15px 0;
  font-weight: lighter;
}

.btns-div {
  width: 100%;
  margin-top: 25px;
}

.btns {
  width: 50%;
  height: 50px;
  border: none;
  font-size: 30px;
  font-weight: lighter;
}

.buy-now-btn {
  background-color: black;
  color: white;
}

.to-cart-btn {
  background-color: white;
  color: black;
}

@media only screen and(max-width: $screen-md-min) {
  .title {
    font-size: 60px;;
  }

  .content {
    flex-direction: column;
  }

  .btn-div {
    display: flex;
    flex-direction: column;
  }

  .btns {
    width: 100%;
  }

  .info {
    max-width: unset;
    padding: 20px;
    width: 100%;
    color: black;
  }

  .image {
    width: 100%;
  }

  .buy-now-btn {
    margin-bottom: 15px;
  }

}
