.search {
  border: none;
  background: transparent;
}

.search {
  border-bottom: 1px solid white;
}

.search::placeholder {
  font-size: 14px;
  color: white;
}

.search-white::placeholder {
  color: white;
}
